workflows/Customer Support Chat.json
{
  "name": "Customer Support Chat",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Je suis votre assistant de support utilisateur. Comment puis-je vous aider ?",
        "options": {
          "loadPreviousSession": "memory",
          "title": "Aide au support utilisateur"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        448,
        -112
      ],
      "id": "b24ddbae-9fb4-412b-a42c-3756f9777fdb",
      "name": "When chat message received",
      "webhookId": "6aeda2bc-2b56-48d6-8c02-7c639895b9ed"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un assistant de recherche intelligent utilisant les vector stores et les outils du MCP Tavily Remote pour fournir des réponses précises et contextuelles.\n\n**Instructions :**\n1. Utilise OBLIGATOIREMENT et en premier les outils vector stores pour rechercher des informations pertinentes\n2. Base ta réponse sur les documents trouvés dans les vector stores et des recherches internet\n3. Cite tes sources en indiquant les métadonnées des documents utilisés\n4. Si aucun document pertinent n'est trouvé, indique-le clairement\n5. Structure ta réponse de manière claire avec des sections si nécessaire\n6. Pas d'hallucination, si tu ne sais pas tu ne sais pas\n7. TU parles français\n\n**Question à traiter :**\n{{ $json.chatInput }}\n\n**Format de réponse attendu :**\n- Réponse basée sur les documents ou tickets support trouvés\n- Sources : [Liste des documents/métadonnées utilisés]\n- Utilisation de recherches internet : [Oui/Non]\n- Niveau de confiance : [Élevé/Moyen/Faible] selon la pertinence des documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1184,
        -112
      ],
      "id": "989cfe47-ca58-41ab-bb96-7219c5053565",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "747d71a7-e11a-4c28-9c23-88b447e83160",
                    "leftValue": "1",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        800,
        112
      ],
      "id": "b1879876-7b57-4bd7-889b-cdfe55cde2b3",
      "name": "Search in Index Model Selector"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1296,
        528
      ],
      "id": "fff21eb0-f4f5-4c32-afe0-5c927bf395a6",
      "name": "Embeddings Local Model",
      "credentials": {
        "ollamaApi": {
          "id": "f6lTqp9Q4EjXbmj7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3:4b",
        "options": {
          "temperature": 0.2,
          "topK": 40,
          "topP": 0.9,
          "repeatPenalty": 1.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1056,
        320
      ],
      "id": "b0451235-a467-4f89-9904-305c800dac57",
      "name": "Remote Ollama Search Model",
      "credentials": {
        "ollamaApi": {
          "id": "m0Q1biSbFLejwvqp",
          "name": "Ollama remote"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        320
      ],
      "id": "c0d480b2-cedd-47e6-bc42-c3a3182bd201",
      "name": "OpenAI Search Model",
      "credentials": {
        "openAiApi": {
          "id": "5vBijCclluIlljh2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "It is a knowledge base using documents that we provided."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1216,
        112
      ],
      "id": "518fb966-216b-4f6c-b215-be3430e4d413",
      "name": "Answer questions with document vector store"
    },
    {
      "parameters": {
        "description": "It is the base of all the supports tickets."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1776,
        112
      ],
      "id": "44aaad35-d45b-4ada-9e8f-3c62b1cb6d77",
      "name": "Answer questions with tickets vector store"
    },
    {
      "parameters": {
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2284522a-bba6-429b-a3ba-f9cd6683e948",
                    "leftValue": "1",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        1472,
        320
      ],
      "id": "4b593fa3-c9d7-494b-8bdb-38641fdc5536",
      "name": "Answering Model Selector"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "frequencyPenalty": 0,
          "temperature": 0.2,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1584,
        528
      ],
      "id": "120c9780-1975-45ed-8d8b-46f6cd4237e0",
      "name": "OpenAI Answering Model",
      "credentials": {
        "openAiApi": {
          "id": "5vBijCclluIlljh2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3:4b",
        "options": {
          "temperature": 0.2,
          "topK": 40,
          "topP": 0.9,
          "repeatPenalty": 1.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1824,
        528
      ],
      "id": "cd2a730a-8583-4c7d-9a6e-38146e829295",
      "name": "Remote Ollama Answering Model",
      "credentials": {
        "ollamaApi": {
          "id": "m0Q1biSbFLejwvqp",
          "name": "Ollama remote"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1184,
        320
      ],
      "id": "ebe08447-eb58-4d4f-ac38-62b8c0a39229",
      "name": "RAG local documents Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "lkhTP0ymQPZKkBSE",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "tickets",
          "mode": "list",
          "cachedResultName": "tickets"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1760,
        320
      ],
      "id": "a63b2d07-af80-48b9-ab98-a5aa9fa1a927",
      "name": "RAG local tickets Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "lkhTP0ymQPZKkBSE",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.tavily.com/mcp/?tavilyApiKey=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",
        "serverTransport": "httpStreamable",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        2064,
        112
      ],
      "id": "6f9f958e-15fd-4fb4-ae87-67234394c8c6",
      "name": "MCP Tavily Remote"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        96
      ],
      "id": "edbed423-644e-451c-87ba-c5bc0a20218e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Index Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Local Model": {
      "ai_embedding": [
        [
          {
            "node": "RAG local documents Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "RAG local tickets Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Remote Ollama Search Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search in Index Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Search Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search in Index Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with document vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with tickets vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Answering Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with tickets vector store",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Answer questions with document vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Answering Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answering Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Remote Ollama Answering Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answering Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "RAG local documents Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with document vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "RAG local tickets Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with tickets vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "MCP Tavily Remote": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b61f813b-50ee-4a06-ac10-e885b8f077d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35e53b4e1c0deaab7d871949fef5124ac4432fe9906011927482989de82c5430"
  },
  "id": "0Q4mKGQa7S6a7KKl",
  "tags": []
}