workflows/Mail.json
{
  "name": "Mail",
  "nodes": [
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "temperature": 0.3,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -240,
        140
      ],
      "id": "854683a1-c786-447d-bb8a-ee5ce7ce17af",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "f6lTqp9Q4EjXbmj7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -420,
        -80
      ],
      "id": "4442ff74-0c83-45b3-9b96-74587c5a68be",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "hc79TETpA1NLkIEz",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "deb0cd86-f881-4765-a90c-ebe5972b2efa",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -80
      ],
      "id": "8551b272-53c5-439e-98e2-ab66011a2e32",
      "name": "Is useable"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        380,
        140
      ],
      "id": "76bb7ec2-054a-4d52-9665-4dd15e767c45",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "f6lTqp9Q4EjXbmj7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        -80
      ],
      "id": "8dae3db3-53e5-4a3a-be0f-2005d4ef68ff",
      "name": "AI Support",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        860,
        -80
      ],
      "id": "eb01e4a2-47fa-4fa3-8e74-dc4aadfe33f9",
      "name": "AI Mail Writer"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        940,
        140
      ],
      "id": "8b12fecb-1c7c-4c84-8ddf-6fb810e7ec86",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "f6lTqp9Q4EjXbmj7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ff",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        500,
        142.5
      ],
      "id": "c8c539f5-3d89-41cd-876f-26f40c9b8dbf",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "llama3.2:3b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        580,
        340
      ],
      "id": "d08b75cc-4bee-44b6-8ffe-82bb1105c2d5",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "f6lTqp9Q4EjXbmj7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Email Trigger (IMAP)').item.json.textPlain }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -100,
        140
      ],
      "id": "adc69478-a7f1-45f8-8d0a-8d4a2dc05a8d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"problem\": \"Recherche d'une personne disponible pour aider à bricoler et livrer des radiateurs\", \"urgency\": \"Haute\", \"category\": \"Technique\",\n  \"sentiment\": \"Négatif\", \"key_words\": [ \"urgence\", \"bricoler\", \"radiateurs\",\"disponible\" ]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        40,
        140
      ],
      "id": "14753f8e-ef6a-4966-a108-b3da9372f7a1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lit cet email d'assistance et extrait les informations suivantes :\n- problem: (description du problème)\n- urgency: (faible/moyenne/haute)\n- category: (technique/compte/facturation/autre)\n- sentiment: (positif/neutre/négatif)\n- key_words: [liste des mots-clés importants]\n\nEmail: \"{{ $json.textPlain }}\"",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -200,
        -80
      ],
      "id": "509aad84-6232-474b-a4dd-2d7a39bf3d46",
      "name": "AI Reader"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Reader",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "AI Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is useable": {
      "main": [
        [
          {
            "node": "AI Support",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Support",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Support": {
      "main": [
        [
          {
            "node": "AI Mail Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Mail Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Support",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Reader",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Mail Writer": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Reader",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Reader": {
      "main": [
        [
          {
            "node": "Is useable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5be9b430-111c-4882-b00b-3000ce2fb9ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35e53b4e1c0deaab7d871949fef5124ac4432fe9906011927482989de82c5430"
  },
  "id": "XHniXtyMCmEVNdEO",
  "tags": []
}