workflows/Search in Index.json
{
  "name": "Search in Index",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -144
      ],
      "id": "6e843d81-d29c-42d6-a6c0-3596fbd35299",
      "name": "When chat message received",
      "webhookId": "35541fc2-5ac5-47cc-804a-a3d3f3108824"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Repond a cette question en utilisant le vector store en outil : {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -208,
        -144
      ],
      "id": "f94db9ca-9615-44a1-b12e-2ef75daacf9c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -288,
        112
      ],
      "id": "f7b8b1cd-67b2-4cb2-a967-54c13d4d1edd",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "f6lTqp9Q4EjXbmj7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        112
      ],
      "id": "5d1a9d3a-d72e-4bcc-ba20-e8aa79a91800",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "It is a knowledge base using documents that we provided."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        112,
        48
      ],
      "id": "88cbc989-e0c4-460d-b095-fc4f2ee54da1",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        64,
        288
      ],
      "id": "4fa2df69-48a1-449b-826d-650c49716055",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "lkhTP0ymQPZKkBSE",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        64,
        400
      ],
      "id": "fbcdbed9-84bd-441a-a2cd-5e0505c1942f",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "f6lTqp9Q4EjXbmj7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        272,
        160
      ],
      "id": "8b559e1a-0335-47c4-8de2-46c58919fe90",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "f6lTqp9Q4EjXbmj7",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45660560-28ab-4f3a-8547-8f25e42e1a64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35e53b4e1c0deaab7d871949fef5124ac4432fe9906011927482989de82c5430"
  },
  "id": "YvfSifYq6vdxxrQI",
  "tags": []
}